@use 'partials/variables' as *;
@use 'partials/mixins' as *;

/* FOOTER LINKS */

footer .footer-links {
    padding: $yPadding;
    background-color: $mainColor;

    img {
        max-width: 50px;
    }

    ul {
        width: 100%;
        @include simple-ul;
        @include flex-center;

        li {
            @include flex-center;

            a {
                margin: $xMargin;
                @include a-reset;
                white-space: nowrap;
            }
        }
    }
}

/* FOOTER INFOS */

footer .footer-infos-bg {
    padding: $yPadding;
    background-image: 
        url('/resources/img/dc-logo-bg.png'),
        url('/resources/img/footer-bg.jpg');
    background-position: 75% center, center;
    background-size: 500px, cover;
    background-repeat: no-repeat, no-repeat;

    .footer-infos {
        width: 35%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;

        ul {
            @include simple-ul;
            margin-right: 30px;
            color: white;

            h4 {
                margin-bottom: 10px;
                font-size: 1.2rem;
            }

            li {
                padding: 0;

                a {
                    text-decoration: $noTextDecoration;
                    color: grey;
                    font-size: 0.85rem;
                }
            }
        }
    }
}

/* FOOTER SOCIALS */

footer .footer-socials {
    background-color: #303030;

    .container {
        @include flex-center;
        padding: $yPadding;

        button {
            padding: 15px 20px;
            background-color: #303030;
            border: 2px solid $mainColor;
            font-weight: bold;
            font-size: 1.1rem;

            a {
                @include a-reset;
            }
        }

        .socials {
            display: flex;

            h2 {
                margin-right: 20px;
                color: $mainColor;
            }
        }

        .social-icons img {
            margin: $xMargin;
        }
    }
}